body[b-ptf82fb9f9] {
}
.btn-close[b-ptf82fb9f9] {
    width: 2rem;           
    height: 2rem;           
    border-radius: 50%;     
}

.btn-close:hover[b-ptf82fb9f9] {
    background-color: darkgray;  
    color: white;                
}
