@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="card small-box">
    <div class="card-header heading-form">
        <h5>@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <p>
            Please <span> <a href="/Identity/Account/Login">Login</a></span>
        </p>
    </div>
</div>


