@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="card small-box" style="font-size:small">
    <div class="card-header heading-form">
        <p>@ViewData["Title"]</p>
    </div>
    <div class="card-body">
        <p >
            Please check your email to reset your password.
        </p>
        <p >
            Did not recieve email?
            <span>
                <a class="btn-link" href="/Identity/Account/ForgotPassword" target="_blank">
                    <i class="bi bi-hand-index"></i>
                </a>
            </span>
        </p>
    </div>
</div>


