@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="card small-box" style="font-size:small">
    <div class="card-header heading-form">
        <p>Register Confirmation</p>
    </div>
    <div class="card-body">
        <p >Please check your email to confirm your account.</p>
        <p >
            Did not recieve email?
            <span>
                <a class="btn-link" href="/Identity/Account/ResendEmailConfirmation" target="_blank">
                    <i class="bi bi-hand-index"></i>
                </a>
            </span>
        </p>
    </div>
</div>
