@model Suspect
<script src="~/js/site.js"></script>
@*To display notifications*@
@* <partial name="_Notifications" /> *@
<div class="card shadow-border-0 mt-4">
    <div class="card-header bg-gradient ml-0 py-4" style="background-color:cadetblue;color:white">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Add New Suspect</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-controller="Suspect" asp-action="AddSuspects" class="edit-form" data-action-url="@Url.Action("AddSuspects","Suspect")">
            <div class="border p-3 mt-4">
                <div class="row">
                    <div class="col-md-12">
                        <div border p-3 mt-4>
                            <div class="mb-3">
                                <label asp-for="SuspectId"></label>
                                <input asp-for="SuspectId" class="form-control edit-form-input" placeholder="ID Number" id="id" maxlength="13" onkeypress="return allowDigits(event)" onpaste="pasteDigits(event,'id',13)" required />
                                <span asp-validation-for="SuspectId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control edit-form-input" placeholder="First Name" id="name" maxlength="20" onkeypress="return allowAlphabets(event)" onkeyup="letterCapitalize('name')" onpaste="pasteAlphabets(event,'name',20)" required />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control edit-form-input" placeholder="Last Name" maxlength="20" id="surname" onkeypress="return allowAlphabets(event)" onkeyup="letterCapitalize('surname')" onpaste="pasteAlphabets(event,'surname',20)" required />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
   @*                          <div class="mb-3">
                                <button type="submit" class="btn btn-primary w-100">Submit</button>
                            </div>
                            <a href="/Suspect/Index" class=" btn btn-primary"><i class="bi bi-arrow-left-square w-100"> Go Back</i></a> *@
                            <p id="create-status"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <a href="/Suspect/Index" class=" btn btn-success w-100"><i class="bi bi-arrow-left-square w-100"> Go Back</i></a>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-success w-100" type="submit"><i class="bi bi-save"></i> Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

@* <script>
    document.addEventListener('DOMContentLoaded', function () {
        const addSuspectForm = document.getElementById('add-suspect');
        addSuspectForm.addEventListener('submit', async function (event) {
            event.preventDefault();
            AddSuspect()
        });
    });

    async function AddSuspect() {
        const addSuspectForm = document.getElementById('add-suspect');
        var inputs = document.querySelectorAll('.add-suspect');
        var allFilled = true;

        inputs.forEach(function (input) {
            if (!input.value) {
                allFilled = false;
            }
        });
        if (allFilled) {
            const addSuspectFormData = new FormData(addSuspectForm);
            const addSuspect = await fetch('/Suspect/AddSuspects', {
                method: 'POST',
                body: addSuspectFormData
            });

            if (addSuspect.ok) {
                Swal.fire({
                    icon: 'success',
                    text: 'Suspect captured successfully!',
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    timer: 4000,
                }).then(() => {
                    window.location.href = '/Suspect/Index';
                });
            }
            else {
                const errorMessage = await addSuspect.text();
                Swal.fire({
                    icon: 'error',
                    text: `Failed to add suspect. ${errorMessage}`,
                    allowOutsideClick: false,
                    showConfirmButton: true,
                });
            }

        }
        else {
            Swal.fire({
                icon: 'error',
                title: 'Unfilled field(s)',
                text: 'Please fill all the required fields!',
                allowOutsideClick: false,
                showConfirmButton: true,
            });
        }
    }
</script> *@