/* _content/SAPS_App/Areas/Identity/Pages/Account/Manage/RoleManagement/ManageRoles.cshtml.rz.scp.css */
.fade-message[b-agusg2x05r] {
    opacity: 1;
    transition: opacity 6s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 50%;
}

.fade-out[b-agusg2x05r] {
    opacity: 0;
}

button[b-agusg2x05r] {
    border-radius: 0px !important;
    height: 3rem;
    background-color: black;
    color: aliceblue;
    font-weight: bold;
    /*    outline: none !important;
    border:none !important;*/
}

    button:hover[b-agusg2x05r] {
        background-color: darkseagreen;
        color: whitesmoke;
        transform: scale(1.01);
    }

    button:focus[b-agusg2x05r] {
        outline: none !important;
    }

.remove-role:hover[b-agusg2x05r] {
    background-color: red;
    color: whitesmoke;
    transform: scale(1.01);
}

.add:hover[b-agusg2x05r] {
    background-color: blue;
    color: whitesmoke;
    transform: scale(1.01);
}
/* _content/SAPS_App/Components/AlertMessages/ErrorMessage.razor.rz.scp.css */
/* _content/SAPS_App/Components/AlertMessages/InfoMessage.razor.rz.scp.css */
/* _content/SAPS_App/Components/AlertMessages/SuccessMessage.razor.rz.scp.css */
/* _content/SAPS_App/Components/ManageRoles/ApplicationUsersManagement.razor.rz.scp.css */
.fade-message[b-nr9kannyhl] {
    opacity: 1;
    transition: opacity 6s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 50%;
}

.fade-out[b-nr9kannyhl] {
    opacity: 0;
}
button[b-nr9kannyhl] {
    border-radius: 0px !important;
    height: 3rem;
    background-color: black;
    color: aliceblue;
    font-weight: bold;
    /*    outline: none !important;
    border:none !important;*/
}
button:hover[b-nr9kannyhl] {
        background-color: darkseagreen;
        color: whitesmoke;
        transform: scale(1.01);
}    
button:focus[b-nr9kannyhl] {
        outline: none !important;
}
.remove-role:hover[b-nr9kannyhl] {
    background-color: red;
    color: whitesmoke;
    transform: scale(1.01);
}
.add:hover[b-nr9kannyhl] {
    background-color: blue;
    color: whitesmoke;
    transform: scale(1.01);
}
  
/* _content/SAPS_App/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-m3q8nbcvhr] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-m3q8nbcvhr] {
  color: #0077cc;
}

.btn-primary[b-m3q8nbcvhr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-m3q8nbcvhr], .nav-pills .show > .nav-link[b-m3q8nbcvhr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-m3q8nbcvhr] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-m3q8nbcvhr] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-m3q8nbcvhr] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-m3q8nbcvhr] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-m3q8nbcvhr] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
