@if (IsDivDisplayed)
{
    <div class="mt-3 w-100 alert-box">
        <div class="row">
            <div class="col-md-12 text-end">
                <div class="hover-btn">
                    <button class="btn btn-close" @onclick="() => IsDivDisplayed = !IsDivDisplayed"></button>
                    <span>Dismiss</span>
                </div>
            </div>
        </div>
        <div class="text-center">
            <span class="alert-icon">
                <img src="../Images/error-icon.jpeg" alt="error icon" height="50px" width="50px" />
            </span>
        </div>
        <div class="alert-message">
            @Message
        </div>
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; }

    [Parameter]
    public bool IsDivDisplayed { get; set; }
}
