@if (IsDivDisplayed)
{
    <div class="alert alert-danger mt-3 w-100 d-flex justify-content-between align-items-center">
        <h6>@Message</h6>
        <div class="hover-btn">
            <button class="btn btn-close" @onclick="() => IsDivDisplayed = !IsDivDisplayed"></button>
            <span>Dismiss</span>
        </div>
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; }

    [Parameter]
    public bool IsDivDisplayed { get; set; }
}
