body {
}

.success-message {
}

.btn-close {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

    .btn-close:hover {
        background-color: darkgray;
        color: white;
    }

.alert-box {
    background-color: white;
    border: 2px solid cadetblue;
    padding: 10px;
    border-radius: 8px;
}

.alert-icon {
    display: inline-block;
    border: 2px solid cadetblue;
    border-radius: 50%;
    padding: 5px;
}

    .alert-icon img {
        opacity: 0.7; /* Adjust transparency */
    }

.alert-message {
    font-size: small;
    text-align: start;
}
