@model Offences
<script src="~/js/site.js"></script>
@*To display notifications*@
@* <partial name="_Notifications" /> *@
<div class="card small-box">
    <div class="card-header heading-form" >
        <p>Add New Offence</p>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-controller="OffenceStation" asp-action="AddOffence" class="edit-form" data-action-url="@Url.Action("AddOffence","OffenceStation")">
            <div class="row mb-2">
                <div class="col-md-12">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control edit-form-input" placeholder="Offence name" id="name" maxlength="20" onkeypress="return allowAlphabets(event)" onkeyup="letterCapitalize('name')" onpaste="pasteAlphabets(event,'name',20)" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success w-100" type="submit"><i class="bi bi-save"></i> Save</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}