@model CaseManager

@*To display notifications*@
<partial name="_Notifications" />
<form method="post" asp-controller="Suspect" asp-action="EditManager">
    <div border p-3 pb-2>
        <div class="row pb-2">
            <h2>Manager</h2>
        </div>
        <div class="row pb-2">
            <input asp-for="CaseManagerNo" hidden />
        </div>
        <div class="mb-3 col-md-6">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 col-md-6">
            <label asp-for="Surname"></label>
            <input asp-for="Surname" class="form-control" placeholder="Surname" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
